body {
  background-color: rgb(255, 194, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@font-face{
    font-family: 'LEMONMILK-Medium' ;
    src: url(LEMONMILK-Medium.otf);
}
@font-face{
    font-family: 'TT Fors Trial Regular' ;
    src: url(TT\ Fors\ Trial\ Regular.ttf);
}
h1, h2{
    font-family: 'LEMONMILK-Medium';
}
p, h4{
    font-family: 'TT Fors Trial Regular';
}