body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #84b6f4;
  line-height: 1.6;
  padding: 40px;
}
h1{
  color: #222;
  margin-bottom: 20px;
  font-optical-sizing: auto;
  font-family: 'LEMONMILK-Medium';
}
.texto {
  display: inline-block;
  transition: all 0.3 ease;
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: 500;
  margin-bottom: 10px;
}
.texto:hover {
  transform: scale(1.07);
  background-color: #4d82bc;
  color:#fff;
  font-weight: 600;
}
.lista {
list-style-type: disc;
padding-left: 25px;
margin-top: 8px;
}