/* css externo */
#principal {
    width: 100px;
    height: auto;
    background-color:azure;

}
#Galeriainfinita {
@keyframes tonext {    
    75% {
        left: 0;
}
    95% {
        left: 100%;
}
    98% {
        left: 100%;
}
    99% {
        left: 0;
}
  } 
@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}
@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
} 
body {
    max-width: 37.rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'lato', sans-serif;
}
#Galeriainfinita {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
#Galeriainfinita {
    -ms-overflow-style: none;
}
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Carrusel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 )
}
}