/*css externo de productos*/
@font-face{
    font-family: 'LEMONMILK-Medium' ;
    src: url(LEMONMILK-Medium.otf);
}
h1,h2{
    font-family: 'LEMONMILK-Medium';
}
.salado{
     background-color: rgb(196, 218, 250);
}
.Dulce{
     background-color: rgb(245, 215, 239);
}
#sal{
    text-align: center;
}
.pancitos{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Cheesecake{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.TFranui{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.cupcakes{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Minipost{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Alfajores{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Postrecitos{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Tostadas{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Sandwiches{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Picada{
    border: 2px solid #000533;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.TartasFrutales{
    border: 2px solid #33001f;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(252, 105, 152);
    box-shadow: 0 4px 6px rgba(252, 105, 152);
    width: 350px;
    text-align: center;
}
.contenedor-tartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
gap:20px;
}
.TFrut{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.TFrutRoj{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.TDuraz{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.TAnaná{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Tiramisú{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Masitas{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.PanD{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(254, 235, 231);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Mesa{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(254, 235, 231);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Mesa img{
max-width: 100%;
height: auto;
border-radius: 8px;
}