/*css externo de productos*/
.salado{
     background-color: rgb(196, 218, 250);
}
.Dulce{
     background-color: rgb(245, 215, 239);
}
#sal{
    text-align: center;
}
.pancitos{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Cheesecake{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.TFranui{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.cupcakes{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Minipost{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Alfajores{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Postrecitos{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(245,149,151);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Tostadas{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Sandwiches{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Picada{
    border: 2px solid #000533;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}