/*css externo de productos*/
.salado{
     background-color: rgb(196, 218, 250);
}
.Dulce{
     background-color: rgb(245, 215, 239);
}
.pancitos{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Tostadas{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.Tostadas img{
    display: block;
    margin: 0 auto;
}
.Sandwiches{
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin:15px 0;
    background-color: rgb(77,130,188);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}